<nav class="navbar navbar-expand-lg bg-body-dark fixed-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="/images/Shubhicon.png" alt="" class="img-fluid nav_img1">
      <img src="/images/Shubha.png" alt="" class="img-fluid nav_img">
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
       <li class="nav-item">
        <a href="#" class="nav-link"><i class="fa-solid fa-magnifying-glass"></i></a>
       </li>
       <li class="nav-item">
        <a href="#" class="nav-link"><i class="fa-solid fa-cart-shopping"></i></a> 
       </li>
      </ul>
    </div>
  </div>
</nav>
<section id="home">
    <div class="home home_wrapper">
      <img src="/images/background.png" alt="" class="img-fluid background_img"> 
      <div class="container-fluid">
        <div class="container">    
          <div class="row">
            <div class="col-lg-8 col-12">
              <div class=" background_text">
                <h2>Ancient Wisdom for <br/>
                Modern <span>Prosperity.</span></h2>
                <p>Empower Your Journey with Authentic Vedic Yantras</p>
            </div>
             </div>
             <div class="col-lg-4 col-12">
              <div class="background_image2">
                <img src="/images/namaste.png" class="img-fluid img2"alt="">
              </div>
             </div>
          </div> 
      </div> 
      </div> 
    </div>
  </div>
  </section>
  <section class="marquee py-md-5 py-3">
    <marquee width="100%" direction="left" >
      <img src="/images/1.png" alt="icon1" class="img-fluid mx-4">
      <img src="/images/2.png" alt="icon2" class="img-fluid mx-4">
      <img src="/images/3.png" alt="icon3" class="img-fluid mx-4">
      <img src="/images/4.png" alt="icon4" class="img-fluid mx-4">
      <img src="/images/5.png" alt="icon5" class="img-fluid mx-4">
      <img src="/images/6.png" alt="icon6" class="img-fluid mx-4">
      <img src="/images/7.png" alt="icon6" class="img-fluid mx-4">
      </marquee>
  </section>
  
  <section id="yantra">
    <div class="yantra_wrapper">
      <div class="row m-5">
        <div class="col-12 col-sm-7 p-2">
          <h2>Shree Yantra</h2>
          <p>Sin Yantra, also called Sri Chakra, is a detailed sacred design used for workship, devotion,
            and meditation. In Sanskrit, "Yantra" means tool or machine . This important symbol has been used for 
            thousands of years , & its begininngs are unclear.
          </p>
        </div>
        <div class="offset-1 col-10 col-sm-4 p-4">
          <img src="/images/golden.png" class="img-fluid" alt="" class="yantra_img">
        </div>
      </div>
    </div>
  
  </section>
  
  <section id="products" class="products_wrapper">
    <div class="container">
      <h2 class="text-center">Products Categories</h2>
      <div class="row">
        
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card">
            <img src="/images/card2.png" class="card-img-top" alt="Product1">
            <div class="card-body">
              <h5 class="card-title">1 Pc Lord Ganesh Face on Leaf Patta Wall Hanging</h5>
              <p class="card-text">1 review</p>
              <a href="#" class="btn btn_dark">Buy Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card">
            <img src="/images/card3.png" class="card-img-top" alt="Product1">
            <div class="card-body">
              <h5 class="card-title">Eye-Catching Handcrafted Elephant Tea Light Holder</h5>
              <p class="card-text">Rs 299</p>
              <a href="#" class="btn btn_dark">Buy Now</a>
            </div>
          </div>
        </div>
         
        <div class="col-lg-3 col-md-6 col-12">
          <div class="card">
            <img src="/images/card4.png" class="card-img-top" alt="Product1">
            <div class="card-body">
              <h5 class="card-title">Eye-Catching Handcrafted Elephant Tea Light Holder</h5>
              <p class="card-text">Rs 299</p>
              <a href="#" class="btn btn_dark">Buy Now</a>
            </div>
          </div>
        </div>
         
        <div class="col-lg-3 col-md-6">
          <div class="card">
            <img src="/images/card5.png" class="card-img-top" alt="Product1">
            <div class="card-body">
              <h5 class="card-title">Eye-Catching Handcrafted Elephant Tea Light Holder</h5>
              <p class="card-text">Rs 299</p>
              <a href="#" class="btn btn_dark">Buy Now</a>
            </div>
          </div>
        </div>
         
        
      </div>
    </div>
    <div class="container">
      <div class="order_history">
        <div class="row">
          <div class="col-sm-6 col-lg-3 d-flex">
            <div class="order_icon">
              <i class="fa-solid fa-truck-fast"></i>
            </div>
           <div class="order_text">
            <h5>Free Shipping</h5>
            <p>Free Shipping for all orders</p>
           </div>  
          </div>

          <div class="col-sm-6 col-lg-3 d-flex">
            <div class="order_icon">
              <i class="fa-regular fa-message"></i>
            </div>
           <div class="order_text">
            <h5>First Order On</h5>
            <p>Get Rs 50 off Use Promo Code :<br/>
            First Order</p>
           </div>
          </div>

          <div class="col-sm-6 col-lg-3 d-flex">
            <div class="order_icon">
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="order_text">
              <h5>Cash on Delivery</h5>
            <p>Hand to hand Delivery Mode</p>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 d-flex">
            <div class="order_icon">
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="order_text">
              <h5>100% Payment Secure</h5>
              <p>We ensure secure payment with PEV</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="new_arrivals" class="new_arrivals">
    <div class="container-fluid">
        <h2 class="text-center py-4">New Arrivals</h2>
        <div class="new_products d-flex">
          <div class="row">
            <div class="col-lg-4 col-6">
              <div class="card" style="width: 22rem;">
                <div class="card_img">
                  <img src="/images/new1.jpg" class="card-img-top new_arrival_img" alt="New Arrivals1">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Mesha Sankranti</h5>
                  <p class="card_date"> <i class="fa-regular fa-calendar"></i>April 22,2023</p>
                  <p class="card-text ">Mesha Sankranti is also known as Maha Vishuva Sankranti. 
                    According to Vedic astrology.
                  </p>
                  <a href="#" class="btn btn-light">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-6">
              <div class="card" style="width: 22rem;">
                <div class="card_img">
                  <img src="/images/new2.jpg" class="card-img-top new_arrival_img" alt="New Arrivals1">
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">Mesha Sankranti</h5>
                  <p class="card_date"> <i class="fa-regular fa-calendar"></i>April 22,2023</p>
                  <p class="card-text ">Mesha Sankranti is also known as Maha Vishuva Sankranti. 
                    According to Vedic astrology.
                  </p>
                  <a href="#" class="btn btn-light">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-6">
                <!-- 3rd  -->
          <div class="card" style="width: 22rem;">
            <div class="card_img">
              <img src="/images/new-3.png" class="card-img-top new_arrival_img" alt="New Arrivals1">
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">Mesha Sankranti</h5>
              <p class="card_date"> <i class="fa-regular fa-calendar"></i>April 22,2023</p>
              <p class="card-text ">Mesha Sankranti is also known as Maha Vishuva Sankranti. 
                According to Vedic astrology.
              </p>
              <a href="#" class="btn btn-light">Read More</a>
            </div>
          </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section id="testimonials" class="testimonials">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4 one">
          <h2>Our Testimonials</h2>
          <p>Inspirational words from our very satisfactory clients</p>
        </div>
        <div class="col-8"></div>
      </div>
    </div>
  </section>

  <section id="blog">
    <div class="blog_wrapper">
      <div class="container-fluid">
        <div class="container">
          <h2>Our Blogs</h2>
        <div class="row">
          <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim, iusto. adipisicing elit. Nisi doloribus vitae animi, ipsam a vel consequatur sequi ad accusantium atque.</p>
          </div>
          <div class="offset-2 col-md-4 ">
            <span><i class="fa-solid fa-arrow-left"></i></span>
            <span><i class="fa-solid fa-arrow-right"></i></span>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 22rem;">
              <div class="card_img">
                <img src="/images/blog1.png" class="card-img-top blog_image1" alt="New Arrivals1">
              </div>
              <div class="card-body">
                <p class="card_date"> April 12, 2023</p>
                <p class="card-text ">Devotees pray to lord to seek mercv and benevolence...
                </p>
              <div class="blog-circle">
                <img src="/images/arrow-w.png" alt="" class="img-fluid blog_img">
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 22rem;">
              <div class="card_img">
                <img src="/images/blog2.png" class="card-img-top blog_image" alt="New Arrivals1">
              </div>
              <div class="card-body">
                <p class="card_date"> April 12, 2023</p>
                <p class="card-text ">Lord Shiva , also known as the Rudra, is the destrover of evil
                </p>
              <div class="blog-circle">
                <img src="/images/arrow-w.png" alt="" class="img-fluid blog_img">
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 22rem;">
              <div class="card_img">
                <img src="/images/blog3.png" class="card-img-top blog_image" alt="New Arrivals1">
              </div>
              <div class="card-body">
                <p class="card_date"> April 12, 2023</p>
                <p class="card-text ">Rudra Homam Ancient Hindu Ritual for Today's Life 
                  Challenges
                </p>
              <div class="blog-circle">
                <img src="/images/arrow-w.png" alt="" class="img-fluid blog_img">
              </div>
              </div>
            </div>
          </div>
         
        </div>
        </div>
       
      </div>
    </div>
  </section>

  <footer id="footer">
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-md-6 col-12">
            <h4>Get in touch</h4>
            <ul>
              <li><i class="fa-solid fa-location-dot"></i>4th floor E-180, West College St 65 Code New York 
                United States
              </li>
              <li><i class="fa-solid fa-phone-volume"></i> +1 333-333-333</li>
              <li><i class="fa-regular fa-envelope-open"></i> info@example.com</li>
            </ul>
            <div class="footer-social-links">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-twitter"></i>
              <i class="fa-brands fa-youtube"></i>
            </div>
          </div>
          <div class="col-md-3 col-md-6  col-12">
            <h4>Company</h4>
            <ul>
              <li>About</li>
              <li>Meet Our Team</li>
              <li> Our Portfolio</li>
              <li>Latest News</li>
              <li>Stories</li>
            </ul>
          </div>
          <div class="col-md-3 col-md-6  col-12">
            <h4>Information</h4>
            <ul>
              <li>Our Leaders</li>
              <li>Press Media</li>
              <li>FAQs</li>
              <li>Partner Program</li>
              <li>Browse Library</li>
            </ul>
          </div>
          <div class="col-md-3 col-md-6  col-12">
            <h4>Resources</h4>
            <ul>
              <li>Support</li>
              <li>Privacy Policy</li>
              <li>Terms Of Use</li>
              <li>Help</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright  p-3">
    <div class="copyright-text"> Copyright &copy; 2024 Daksh-wordpress | Powered by Daksh-wordpress</div>
    <div class="copy-box"><i class="fa-solid fa-arrow-up"></i></div>
  </div>



