
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(214, 197, 229);
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif !important;
}
:root{
    --black: black;
    --red: red;
    --white:white;
    --brown: brown;
    --yellow: rgb(251, 251, 6);
}
/* Navbar  */
.top-title{
    text-transform:uppercase; ;
    font-weight: normal;
    text-align: center;

}
nav{
    background-color: wheat;
    z-index: 10;
}
.navbar .nav_img1{
    height: 3.2rem;
    width: 3.2rem;
}
.navbar .nav_img{
    height: 3.2rem;
    width: 16rem;
}
.navbar .nav-item{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 1.5rem;
}
.navbar .navbar-toggler:focus{
    border: none;
    box-shadow: none !important;
    outline: none !important;
}
.navbar .navbar-toggler-icon{
    height: 1.25rem;
    width: 1.25rem;
}
/* Background  */
.home{
    z-index: -1;
}
.home_wrapper .background_img{
    min-height: 400px;
    position: relative;
}
.home_wrapper .background_text{
    display: flex;
    justify-content:space-between;
    align-items: space-between;
    flex-direction: column;
    position: absolute;
    top:210px;
    left: 50px;
    border: 2px solid black;
}
.home_wrapper .background_text h2{
    font-weight: 400;
    font-size: 4.5rem;
}
.home_wrapper .background_text h2 span{
    font-weight: 500;
    color: var(--red);
}
.home_wrapper .background_text p{
    font-size: 1.5rem;
}
.home_wrapper .img2{
    position: absolute;
    top: 130px;
    right: 70px;
    height: 500px;
    width: 280px;
    border: 2px solid black;
}
/* Marquee  */
.marquee{
    background-color: rgb(11, 37, 114);
}
.marquee img{
    height: 10rem;
    width: 12rem;
}
/* Section 3 */
.yantra_wrapper .yantra_img{
    min-height: 150px;
    min-width: 200px;
}
.yantra_wrapper h2{
    font-size: 3rem;
    font-weight: 400;
}
.yantra_wrapper p{
    font-size: 1.5rem;
}
/* Products  */
.products_wrapper h2{
font-size: 3rem;
font-weight: 400;
}
.products_wrapper .card{
    border: none;
     margin:.50rem;
}
.products_wrapper .btn_dark{
    background-color: var(--brown);
    width: 100%;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    border-radius: none;
}
.products_wrapper .btn_dark:hover{
    background-color: var(--brown);
    color:var(--white);
}
/* Delivery Mode  */
.order_history{
    background-color: rgb(214, 209, 209);
    padding: 3rem 2rem 0.5rem;
    margin-bottom: 8rem;
}
.order_icon i{
    font-size: 2.6rem;
    margin: 0.75rem;
}
/* New Arrivals  */
.new_arrivals{
    background-color: var(--red);
    height: 20rem;
}
.new_arrivals .col-6{
    margin:0.5rem;
}
.new_arrivals h2{
    color: var(--white);
}
.new_arrivals .card{
    margin: 0.75rem 3rem 0.75rem ;
    border-radius: 0.75rem;
    /* border: none; */
}
.new_arrivals .card_img{
    padding: 2.5rem 3.5rem 0;
   
}
.new_arrivals .new_arrival_img{
    border-radius: 100%;
    padding: 0.50rem;
    outline:3px dotted var(--red);
}
.new_arrivals .card_date{
    color: var(--red);
}
.new_arrivals .card_date i{
    padding-right: 0.25rem;
    font-weight: bold;
}
/* Testimonials  */
.testimonials{
    margin: 20rem 0 1rem 4rem;
}
.one{
    border: 1px solid black;
}
 /* Blog  */
 .blog_wrapper{
    padding: 1.5rem 2.5rem;
    background-color: var(--red);
    color: var(--white);
    height: 23rem;
 }
 .blog_wrapper h2{
    margin: 2rem 0 1.25rem;
 }
 .blog_wrapper p{
    line-height: 1.75rem;
 }

 .blog_wrapper i{
    border-radius: 50%;
    border: 2px solid var(--white);
    font-size: 2rem;
    padding: 0.5rem 0.75rem;
    margin-left: 1rem;
 }
 .blog_wrapper .card{
    border-radius: 1rem;
    padding: 0.75rem;
    background-color: var(--yellow);
    border: none;
    font-weight: 400;
    margin:.50rem;
   
 }
 .blog_wrapper .card .blog_image1{
    border-radius: 1rem;
 }
 .blog_wrapper .blog-circle{
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    padding: 0.25rem;
   
    outline: 3px dotted var(--red); 
 }
 .blog_wrapper .card_date{
    color: var(--red);
 }
 .blog_wrapper .blog-circle .blog_img{
    margin: auto;
 background-color: red;
 border-radius: 50%;
 padding: 0.25rem;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 }
 /* Footer  */
 footer{
    margin-top: 23rem;
    background-color: var(--red);
    padding: 1rem 2rem;
    color: var(--white);
   
 }
 .footer i{
    font-size: 1rem;
    color: rgb(232, 235, 33);
    margin-right: 0.75rem;
    
 }
 .footer-social-links i{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white);
 }
 .footer-social-links .fa-facebook{
    background-color: blue;
 }
 .footer-social-links .fa-twitter{
    background-color: rgb(34, 173, 219);
 }
 .footer-social-links .fa-youtube{
    background-color: rgb(198, 9, 9);
 }
 .footer ul li{
    list-style: none;
    margin: 0.5rem;
    padding: 0;
 }
 .copyright{
    background-color: var(--yellow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
.copy-box{
    background-color: var(--red);
    border-radius: 50%;
    padding:0.325rem 0.75rem;
    /* height: 1rem;
    width: 1rem; */
}
.copy-box i{
    color: var(--white);
}


/* Responsivness  */
@media(max-width:1040px){
      .home_wrapper .background_text{
  
    position: absolute;
    top:180px;
    left: 30px;
    border: 2px solid black;
}
    .home_wrapper .background_text h2{
    font-weight: 400;
    font-size: 3.725rem;
}
.home_wrapper .background_text p{
    font-size: 1.5rem;
}
.home_wrapper .img2{
    position: absolute;
    top: 120px;
    right: 30px;
    height: 350px;
    width: 250px;
    border: 2px solid black;
}
}
@media(max-width:767px){
    /* Home Wrapper  */
    .home_wrapper .background_text{
    position: absolute;
    top:180px;
    left: 30px;
    border: 2px solid black;
}
    .home_wrapper .background_text h2{
    font-weight: 400;
    font-size: 2.5rem;
}
.home_wrapper .background_text p{
    font-size: 1.125rem;
}
.home_wrapper .img2{
    position: absolute;
    top: 100px;
    right: 30px;
    height: 300px;
    width: 200px;
    border: 2px solid black;
}
    .new_arrivals{
    height: 50rem;
}
   footer{
    margin-top: 90rem;
   
 } 
}
@media(max-width:767px){
    /* Home Wrapper  */
    .home_wrapper .background_text{
    position: absolute;
    top:180px;
    left: 10px;
    border: 2px solid black;
}
    .home_wrapper .background_text h2{
    font-weight: 400;
    font-size: 1.5rem;
}
.home_wrapper .background_text p{
    font-size: 0.75rem;
}
.home_wrapper .img2{
    position: absolute;
    top: 100px;
    right: 20px;
    height: 250px;
    width: 140px;
    border: 2px solid black;
}
}